.lato-normal {
    font-family: "Lato", serif;
    font-style: normal;
}



/* shared styles  */

.font-primary {
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}

.font-secondary {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}

.btn-primary {
    background-color: #E55473;
    padding: 20px 40px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}



/* header styles  */
header {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(229, 84, 115, 0.1);
}

/* banner styles  */
.banner {
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 0px 240px 0px 240px;
}



.banner-title {
    font-size: 80px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
}

/* featured styles  */
.featured {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.featured-text {
    margin-top: 170px;
    text-align: center;
}

.f-title {
    margin-bottom: 24px;
}

.featured-img-container {
    display: flex;
    gap: 24px;
}

.featured-img {
    width: 470px;
    margin-top: 50px;

}

.s-f-img-p {
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.s-f-img-r {
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.s-f-img-y {
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.f-img {
    width: 310px;
    height: 428px;
    padding: 100px 80px 0px 80px;
}

.featured-img .f-img-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

/* support section styles  */

.support {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    margin-bottom: 130px;

}

.support-container {
    display: flex;
    justify-content: center;
    padding: 86px 175px;
    gap: 150px;
}

.support-column {
    text-align: center;
}

/* sale section starts  */

.sale{
    max-width: 1920px;
    height: 620px;
    margin: 0 auto;
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

#red{
    color: #E55473;
}
.sale-text{
    text-align: center;
}








/* Responsive Media Query  */

@media screen and (max-width:576px) {
    .banner {
        flex-direction: column;
        /* width: calc(100% - 20px); */
        padding: 10px;
    }

    .banner-image img {
        width: 100%;
    }

    /* Banner responsive done  */
    .featured-img-container,
    .support-container, 
    .sale {
        flex-direction: column;

    }

    .featured-img {
        width: 100%;
    }

    .s-f-img-y,
    .s-f-img-r,
    .s-f-img-p {
        width: calc(100% - 20px);
        margin: 10px;
    }

    .f-img {
        width: calc(100% - 20px);
        margin-right: 30px;
        margin-left: 30px;
        padding: 20px;

    }

    .featured-text {
        width: calc(100% - 20px);
        margin: auto;
    }

    .support-container {
        padding: 20px;
        gap: 100px;
    }
    .sale{
        height: auto;
    }


}